.card {
  background-color: whitesmoke;
  color: #343a40;
  border-radius: 10px;
  text-align: center;

  .card-header {
    background-color: #343a40;
    color: whitesmoke;
    border-radius: 10px;
    text-align: center;

    &:hover {
      background-color: #fcd144;
      color: #343a40;
    }
  }
}
