<div class="row">
    <div class="col-12 col-md-6 col-lg-3" *ngFor="let card of class">
        <article class="card">
            <header class="card-header">
                {{card.name}}
            </header>
            <main class="card-body">
                <img class="col-12 col-md-12 col-lg-12" src="{{card.img}}" alt="Image non disponible :("/>
            </main>
        </article>
    </div>
</div>