<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Social Footer, Colour Matching Icons -->
<!-- Include Font Awesome Stylesheet in Header -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
  crossorigin="anonymous">
<!-- // -->
<div class="row">
  <hr>
  <div class="text-center center-block">
    <h3 class="txt-railway">Retrouvez nous sur nos réseaux sociaux</h3>
    <br />
    <div class="col-12 col-sm-4 col-lg-4">
      <a href={{facebook}}><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
    </div>
    <div class="col-12 col-sm-4 col-lg-4">
      <a href={{twitter}}><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
    </div>
    <div class="col-12 col-sm-4 col-lg-4">
      <a href={{mail}}><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
  </div>
  <hr>
</div>

<br />
