.navbar-brand {
  padding: 0;
}

.form-inline {
  float: right;
  padding: 0;
  .btn{
    color: #fcd144;
    &:hover{
      background-color: #fcd144;
      border-color: #fcd144;
      color: black;
      border-radius: 10px;
    }
  }
}

.nav-item {
  .nav-link {
    color: #fcd144;
    
    &:hover {
      background-color: #fcd144;
      color: black;
      border-radius: 10px;
    }
  }

}

.navbar-collapse {
  &.collapse {
    &.show {
      visibility: visible;
    }
  }
}
