<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#">
      <img src={{pathImage}} width="100" height="50"  alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home-page" href="#">{{link1}} <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/liste-cartes" href="#">{{link2}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" href="#">{{link3}}</a>
        </li>
      </ul>
      <form (ngSubmit)="onSubmit()" class="form-inline my-2 my-lg-0" >
        <input class="form-control mr-sm-2" type="search" [(ngModel)]="cardSearch" name="cardSearch" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
      </form>
    </div>
  </nav>
  