<div class="form-style-6">
  <h1>Contactez nous :)</h1>
  <form (ngSubmit)="processForm()">
    <input type="text" name="field1" placeholder="Votre nom" [(ngModel)]="name" />
    <input type="email" name="field2" placeholder="Votre email" [(ngModel)]="email" />
    <textarea name="field3" placeholder="Votre message" [(ngModel)]="message"></textarea>
    <button type="submit" class="button is-danger is-large">Valider</button>
  </form>
</div>
