<h2>Liste des classes</h2>
<div class="row">
  <div class="col-12 col-md-6 col-lg-3" *ngFor="let class of info['classes']">
    <article class="card">
      <header class="card-header">
        <a routerLink="/cartes-by-class/{{class}}" href="#">
          {{class}}
        </a>
      </header>
    </article>
  </div>
</div>
<br>
<br>
<h2>Liste des races</h2>
<div class="row">
  <div class="col-12 col-md-6 col-lg-3" *ngFor="let race of info['race']">
    <article class="card">
      <header class="card-header">
        <a routerLink="/cartes-by-race/{{race}}" href="#">
          {{race}}
        </a>
      </header>
    </article>
  </div>
</div>
<br>
