h2{
    background-color: #343a40;
    color: #fcd144;
    border-radius: 10px;
    text-align: center;
}

.card-header{
    background-color: #343a40;
    color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    a{
        color:  #fcd144;
        text-decoration: none;
    }
    &:hover{
        background-color: #fcd144;
        a{
            color:  #343a40;
        }
    }
}