<div id="carouselExampleIndicators" class="carousel slide row" data-ride="carousel">
  <div id="carousel" class="center-block col-12 col-md-12 col-lg-8">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a routerLink="/detail-article/{{articles[0].id}}" href="#">
          <img class="d-block w-100" src={{articles[0].pathImage}} alt="First slide">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h3>{{articles[0].titre}}</h3>
          <p>{{articles[0].description}}</p>
        </div>
      </div>
      <div class="carousel-item">
        <a routerLink="/detail-article/{{articles[1].id}}" href="#">
          <img class="d-block w-100" src={{articles[1].pathImage}} alt="Second slide">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h3>{{articles[1].titre}}</h3>
          <p>{{articles[1].description}}</p>
        </div>
      </div>
      <div class="carousel-item">
        <a routerLink="/detail-article/{{articles[2].id}}" href="#">
          <img class="d-block w-100" src={{articles[2].pathImage}} alt="Third slide">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h3>{{articles[2].titre}}</h3>
          <p>{{articles[2].description}}</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>
