h1{
    background-color: #343a40;
    color: #fcd144;
    border-radius: 10px;
    text-align: center;
}
h2{
    background-color: #343a40;
    color: whitesmoke;
    border-radius: 10px;
    text-align: center;
}
p{
    text-align: center;
    color: #343a40;
    font-size: large;
}
img{
    margin: auto;
    border-radius: 25px;
    padding: 1%;
}